/* style for the body */
body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* style for p5 canvas div */
#p5-canvas {
  padding-top: 100px;
}

/* style for the side columns */
#side {
  color: white;
  font-size: 50px;
  text-align: justify;
  font-family: monospace;
  font-weight: bolder;
}

/* position for the grid wrapper */
.wrapper {
  display: flex;
}

/* position for the colums */
.column {
  flex: 50%;
}

/* position for the overlay layers */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* style for the effects layers */
.effect {
  /* apply filter effects */
  backdrop-filter: brightness(1.4);
  backdrop-filter: contrast(1.2);
  backdrop-filter: hue-rotate(120deg);
  /* backdrop-filter: blur(1.4px); */
}

/* style for the blending mode layer */
.blend {
  /* color/image to blend */
  opacity: 0.8;
  background-color: purple;
  /* blend mode */
  mix-blend-mode: darken;
}

.dialog{
  color: white;
}
