/* style for the body */
body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* style for p5 canvas div */
#p5-canvas {
  padding-top: 2%;
}

/* style for the side columns */
#side {
  color: white;
  font-size: 14px;
  text-align: justify;
  font-family: serif;
}

#poem {
  white-space: nowrap;
  opacity: 60%;
  z-index: 2;
  bottom: 8%;
  left: 2%;
}

.secret-message {
  color: #cdd9b8;
}

.img-col {
  position: absolute;
  width : 100%;
  overflow: hidden;
}

#column-img {
  z-index: 2;
  left: 60%;
  top: 0%;
  width: 30%;
  height: auto;
}

#cloud-img {
  opacity: 80%;
  z-index: 3;
  left: 70em;
  top: 35em;
  width: 1800px;
  height: 700px;
}

#cloud2-img {
  opacity: 10%;
  z-index: 3;
  left: 28em;
  top: 36em;
  width: 450px;
  height: 280px;
}

#cloud3-img {
  opacity: 20%;
  z-index: 3;
  left: 15em;
  top: -25em;
  width: 1000px;
  height: 500px;
}

#sun-gif {
  mix-blend-mode: hard-light;
  opacity: 15%;
  z-index: 2;
  left: 45%;
  top: 5%;
  width: 200px;
  height: 200px;
}

#hands-gif {
  mix-blend-mode: screen;
  opacity: 60%;
  z-index: 5;
  right: 10%;
  top: 50%;
  width: 600px;
  height: 300px;
}

/* position for the grid wrapper */
.wrapper {
  display: flex;
  width:100%;
}

/* position for the colums */
.column {
  flex: auto;
}

/* position for the overlay layers */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* style for the effects layers */
.effect {
  z-index: 5;
  /* apply filter effects */
  backdrop-filter: brightness(1.4);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: contrast(1);
}

/* style for the blending mode layer */
.blend {
  /* color/image to blend */
  z-index: 5;
  background-color: grey;
  opacity: 0.15;
  /* blend mode */
  mix-blend-mode: darken;
}

/* style for the background texture layer */
.background-texture {
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.15;
  /* blend mode */
  mix-blend-mode: lighten;
  overflow:hidden;
}

/* style for the cover layer */
.cover {
  background-color: white;
  z-index: 10;
  text-align: center;
  line-height: 500px;
}

.intro {
  display: inline-block;
  vertical-align: middle;
}
