/* style for the body */
body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* style for p5 canvas div */
#p5-canvas {
  padding-top: 100px;
}

/* style for the side columns */
#side {
  color: white;
  font-size: 12px;
  text-align: justify;
  content: "\a";
  font-family: serif;
}

#poem {
  opacity: 65%;
  z-index: 0;
  top: 50em;
  left: 0em;
}

.img-col {
  position:absolute;
}

#column-img {
  z-index: 1;
  left: 80em;
  top: -3em;
  width: 600px;
  height: 900px;
}

#cloud-img {
  opacity: 80%;
  z-index: 3;
  left: 65em;
  top: 35em;
  width: 1800px;
  height: 700px;
}

#cloud2-img {
  z-index: 3;
  left: 28em;
  top: 36em;
  width: 450px;
  height: 280px;
}

#cloud3-img {
  opacity: 20%;
  z-index: 3;
  left: 15em;
  top: -25em;
  width: 1000px;
  height: 500px;
}

#sun-gif {
  mix-blend-mode: hard-light;
  opacity: 15%;
  z-index: 2;
  left: 70em;
  top: 5em;
  width: 200px;
  height: 200px;
}

#hands-gif {
  mix-blend-mode: screen;
  opacity: 60%;
  z-index: 0;
  left: 90em;
  top: 35em;
  width: 600px;
  height: 300px;
}

/* position for the grid wrapper */
.wrapper {
  display: flex;
}

/* position for the colums */
.column {
  flex: auto;
}

/* position for the overlay layers */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* style for the effects layers */
.effect {
  /* apply filter effects */
  backdrop-filter: brightness(1.4);
  backdrop-filter: contrast(1.2);
  backdrop-filter: hue-rotate(120deg);
  /* backdrop-filter: blur(1.4px); */
}

/* style for the blending mode layer */
.blend {
  /* color/image to blend */
  z-index: 5;
  background-color: darkblue;
  opacity: 0.15;
  /* blend mode */
  mix-blend-mode: darken;
}
