body {
  overflow: hidden;
  background-color: #101205;
  font-weight: bolder;
  font-size: 1.4em;
  text-align: center;
  color: white;
}

#paragraph1 {
  overflow: scroll;
  transform: rotate(155deg) translate(25%, -35%);
  margin: auto;
  width: 600px;
  height: 2000px;
  /* gradient color style from -> https://fossheim.io/writing/posts/css-text-gradient/ */
  background-color: #f3ec78;
   background-image: linear-gradient(90deg, #f3ec78, #af4261);
   background-size: 100%;
   background-attachment: local;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}
